name: File-to-link

on:
  workflow_dispatch:
    inputs:
      TEXT_MSG:
        description: 'Your Reminder Massage'
        required: true
        default: 'Massage'
      FILE_LINK1:
        description: 'Link of File1'
        required: true
        default: 'Empty'
      FILE_LINK2:
        description: 'Link of File2'
        required: true
        default: 'Empty'
      FILE_LINK3:
        description: 'Link of File3'
        required: true
        default: 'Empty'
      FILE_LINK4:
        description: 'Link of File4'
        required: true
        default: 'Empty'
      FILE_LINK5:
        description: 'Link of File5'
        required: true
        default: 'Empty'
      FILE_LINK6:
        description: 'Link of File6'
        required: true
        default: 'Empty'
      FILE_LINK7:
        description: 'Link of File7'
        required: true
        default: 'Empty'
      FILE_LINK8:
        description: 'Link of File8'
        required: true
        default: 'Empty'
      FILE_LINK9:
        description: 'Link of File9'
        required: true
        default: 'Empty'
      FILE_LINK10:
        description: 'Link of File10'
        required: true
        default: 'Empty'

jobs:
  build:
    name: File downloader by ${{ github.actor }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Downloading file Num1
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK1 }}

    - name: Downloading file Num2
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK2 }}

    - name: Downloading file Num3
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK3 }}
        
    - name: Downloading file Num4
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK4 }}

    - name: Downloading file Num5
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK5 }}

    - name: Downloading file Num6
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK6 }}

    - name: Downloading file Num7
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK7 }}

    - name: Downloading file Num8
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK8 }}

    - name: Downloading file Num9
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK9 }}

    - name: Downloading file Num10
      continue-on-error: true
      run: |
        cd drive
        wget ${{ github.event.inputs.FILE_LINK10 }}
        
    - name: Set Build Date 
      run: |
        echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
        
    - name: Upload to Github
      uses: softprops/action-gh-release@v1
      continue-on-error: true
      with:
        files: |
          drive/*.*
        name: ${{ github.event.inputs.TEXT_MSG }}
        tag_name: ${{ env.BUILD_DATE }}
        body: |
