name: File-to-link

on:
  workflow_dispatch:
    inputs:
      TEXT_MSG:
        description: 'Link of File'
        required: true
        default: 'MSGZZZZ'
      FILE_LINK1:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK2:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK3:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK4:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK5:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK6:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK7:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK8:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK9:
        description: 'Link of File'
        required: true
        default: ''
      FILE_LINK10:
        description: 'Link of File'
        required: true
        default: ''

jobs:
  build:
    name: File downloader by ${{ github.actor }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Downloading file Num1
      continue-on-error: true
      run: |
        mkdir drive1 && cd drive
        wget ${{ github.event.inputs.FILE_LINK1 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num2
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK2 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num3
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK3 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num4
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK4 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num5
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK5 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num6
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK6 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num7
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK7 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num8
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK8 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num9
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK9 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
    - name: Downloading file Num10
      continue-on-error: true
      run: |
        mkdir drive && cd drive
        wget ${{ github.event.inputs.FILE_LINK10 }}
        ls
        echo "FILE_ID=$(ls)" >> $GITHUB_ENV
        

    - name: Set Build Date 
      run: |
        echo "BUILD_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
        
    - name: Upload to Github
      uses: softprops/action-gh-release@v1
      continue-on-error: true
      with:
        files: |
          drive/*.*
        name: ${{ env.FILE_ID }} // ${{ env.BUILD_DATE }}
        tag_name: ${{ github.run_id }}
        body: |
